In [55]:
import os
import requests
import json
import pandas as pd
import hvplot.pandas
import sqlalchemy
from sqlalchemy import inspect
from dotenv import load_dotenv

%matplotlib inline

In [56]:
load_dotenv()

True

In [57]:
rarify_api_key = os.getenv("RARIFY_API_KEY")
type(rarify_api_key)

str

In [58]:
database_connection_string = os.getenv("DATABASE_URL")
database_schema = os.getenv("DATABASE_SCHEMA")

display(type(database_connection_string))
display(type(database_schema))

str

str

In [59]:
engine = sqlalchemy.create_engine(database_connection_string)
inspector = inspect(engine)
inspector.get_table_names()

['token_attribute',
 'network',
 'collection',
 'contract_map',
 'token',
 'whale',
 'api',
 'trade',
 'social_media',
 'data_analysis']

In [60]:
os_top_ten = """
SELECT *
FROM trade
"""

In [61]:
collection_df = pd.read_sql_query(os_top_ten, con=engine)
collection_df

,contract_id,timestamp,avg_price,max_price,min_price,num_trades,unique_buyers,volume,period,type,api_id
0,polygon:880e37b98f7c058b3563970f256614ff4a580637,2022-07-22,1316.29,1316.29,1316.29,1,1,1316,all_time,collection,rarify
1,ethereum:b47e3cd837ddf8e4c57f05d70ab865de6e193bbb,2019-05-24,0.69,1.00,0.40,4,4,3,all_time,collection,rarify
2,ethereum:c36442b4a4522e871399cd717abdd847ab11fe88,2022-07-07,264.75,12931.87,0.00,644,263,170502,all_time,collection,rarify
3,ethereum:c36442b4a4522e871399cd717abdd847ab11fe88,2022-07-08,604.11,22207.66,0.00,603,224,364279,all_time,collection,rarify
4,ethereum:c36442b4a4522e871399cd717abdd847ab11fe88,2022-07-09,767.86,20345.31,0.00,703,299,539804,all_time,collection,rarify
...,...,...,...,...,...,...,...,...,...,...,...
22281,ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed...,2022-07-05,104.00,104.00,104.00,1,1,104,all_time,token,rarify
22282,ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed...,2022-07-04,99.69,99.69,99.69,1,1,100,all_time,token,rarify
22283,ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed...,2022-07-03,113.80,113.80,113.80,1,1,114,all_time,token,rarify
22284,ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed...,2022-07-02,100.00,100.00,100.00,1,1,100,all_time,token,rarify
22285,ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed...,2022-07-01,115.00,115.00,115.00,1,1,115,all_time,token,rarify

In [62]:
collection_df = collection_df[['contract_id', 'timestamp', 'volume']]
collection_df

                                             contract_id  timestamp  volume
0       polygon:880e37b98f7c058b3563970f256614ff4a580637 2022-07-22    1316
1      ethereum:b47e3cd837ddf8e4c57f05d70ab865de6e193bbb 2019-05-24       3
2      ethereum:c36442b4a4522e871399cd717abdd847ab11fe88 2022-07-07  170502
3      ethereum:c36442b4a4522e871399cd717abdd847ab11fe88 2022-07-08  364279
4      ethereum:c36442b4a4522e871399cd717abdd847ab11fe88 2022-07-09  539804
...                                                  ...        ...     ...
22281  ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed... 2022-07-05     104
22282  ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed... 2022-07-04     100
22283  ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed... 2022-07-03     114
22284  ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed... 2022-07-02     100
22285  ethereum:9c8ff314c9bc7f6e59a9d9225fb22946427ed... 2022-07-01     115

[22286 rows x 3 columns]